.App {
  max-width: 700px;
  display: block;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  background: lightgoldenrodyellow;
}

.App footer {
  text-align: center;

  margin: 30px 0;
}
.App header {
  text-align: center;

  margin: 30px 0 30px;
}
