.Results {
  text-align: left;
}
.Results section {
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px 0;
}

.Results h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
}
